/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    width: 100%;
    height: 100vh;
}

.nav-search-icon {
    color: #ffc107;
    margin: 8px auto auto auto;
    font-size: 1.3rem;
}

.nav-search-icon:hover {
    color: #fff;
}

.active {
    color: #ffc107 !important;
    border-bottom: 1px solid #ffc107;
    padding-bottom: 3px;
}

.opacity {
    opacity: 0.9;
}

.container-fluid {
    margin: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100%;
}

.carousel-item > img {
    height: 93vh;
    width: 100%;
}

.today-spl {
    margin: 25px;
    padding: 30px auto;
}

.today-spl > h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    word-spacing: 2px;
    padding-top: 30px;
}

.random-container {
    margin: auto;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding-bottom: 20px;
}

.random-dish {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    background-color: #fff;
    padding: 40px;
    margin: 40px;
    border-radius: 10px;
}

.card-div {
    max-height: 35rem;
    margin: 1rem;
}

.card {
    margin: 20px;
    min-height: 35rem;
    max-height: 35rem;
    border-radius: 15px;
    overflow: hidden;
}

.card-text {
    max-height: 100px;
    overflow: hidden;
}

.card-body-btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.search-list {
    display: none;
}

.search-head {
    text-align: center;
    padding-top: 70px;
}


@media (max-width: 425px) {
    .random-dish {
        padding: 0px;
        margin: 20px;
    }
}
